$font-stack: Arial, sans-serif;
$primary-color: #a9f5d0;
$secondary-color1: #04b486;
$secondary-color2: #04a178;
$secondary-color3: #7870cc;

h1 {
    color: white;
    font-size: 50px;
}

body {
    background-color: $primary-color;
}

#header {
    margin-bottom: 3.5%;

    background-color: $secondary-color1;
}

.btn-group button {
    color: black;
    background-color: white;
}

#form {
    width: 50%;
    margin: 0 auto;
}

#form button {
    width: 100%;
}

.form-group {
    margin-bottom: 5px !important;
}

#btns {
    margin: 0 auto;
    display: inline-flex;
    font-size: 12px;
}

#btns > a {
    margin-left: 2px;
}

section {
    margin: auto;
    margin-bottom: 65px;
}

section button {
    float: right;
}

section a {
    float: right;
}

section a:link,
section a:visited {
    display: inline-block;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    color: black;
    border: 2px solid grey;
    border-radius: 5px;
}

a:hover,
a:active {
    background-color: grey;
}

figure {
  overflow: hidden;
}

figure:hover img {
  transform: scale(2);
}
figure:hover figcaption {
   transform: scaleY(0);
}

figure, figure img {
  width: 300px;
}

figure img {
  transition: transform 0.5s;
}
figure figcaption {
  transition: transform 0.5s;
}

section img, figcaption {
    width: 300px;
}

section img {
    padding-bottom: 5px;
}

figcaption {
    padding-top: 15px;
    padding-right: 5px;
    padding-bottom: 15px;
    padding-left: 5px;
    background-color: $secondary-color2;
}

footer {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: $secondary-color3;
}

#menu {
    display: none;
}

#btnmenu {
    float: right;
    margin-top: 15px;
}

#formmenu,
#formmenu .form-group,
#formmenu button {
    width: 100%;
}

#collapseExample {
    width: 100%;
}

.mr-auto {
  width: 100%;
}

.nav-item {
    width: 100%;
}
