@media (min-width: 0px) and (max-width: 375px) {
    /* iPhone 6 375x667 */
    section {
        width: 95%;
        margin: auto;
        margin-bottom: 65px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 25px;
    }

    h6 {
        font-size: 15px;
    }

    section img, figcaption {
        width: 330px;
    }

    #btns {
        font-size: 8px;
        display: block;
    }

    #btn-buscar {
        background-color: green;
    }
}
